@model BadmintonReservationData.Frame
@{
    ViewData["Title"] = "Frame Report #" + Model.Id;
    var statusMap = new Dictionary<int, string>
    {
        { 1, "Active" },
        { 2, "InActive" }
    };

    var statusBadgeMap = new Dictionary<int, string>
    {
        { 1, "bg-success" },//Active
        { 2, "bg-danger" } //InActive
    };

    string ConvertIntTime(int hhmm)
    {
        string timeString = hhmm.ToString().PadLeft(4, '0');
        string hours = timeString.Substring(0, 2);
        string minutes = timeString.Substring(2, 2);
        return $"{hours}:{minutes}";
    }

    string FormatDate(DateTime date)
    {
        return date.ToString("dddd, dd-MM-yyyy");
    }

    string FormatDateTime(DateTime date)
    {
        return date.ToString("dddd, dd-MM-yyyy HH:mm");
    }

    string FormatPriceVND(double price)
    {
        return price.ToString("N0") + " VND";
    }
}
<style>
    body {
        font-family: Arial, sans-serif;
    }

    .header-text {
        color: #0188A6;
        font-weight: 600;
    }
    .header-line {
        background-color: #00a6BD4E;
        padding: 20px;
        color: white;
        font-size: 24px;
    }

    .header-text {
        display: flex;
        align-items: center;
    }

    .header-text .badge {
        margin-left: 10px;
        }

    .details, .details dt, .details dd {
        font-size: 18px;
    }

        .details dt {
            font-weight: bold;
        }

        .details dd {
            margin: 0 0 10px;
        }

    .table {
        margin-top: 20px;
    }

        .table th, .table td {
            text-align: center;
            vertical-align: middle;
        }
</style>
<div class="container">
    <h3 class="header-text">Frame Report #@Model.Id <span class="badge @statusBadgeMap[@Model.Status]" style="font-size: 14px;">@statusMap[@Model.Status]</span> </h3>
    <div class="header-line">
    </div>

    <dl class="row details mt-3">
        <div class="col-md-6 row">
            <dt class="col-sm-4">Time From:</dt>
            <dd class="col-sm-8">@ConvertIntTime(@Model.TimeFrom)</dd>

            <dt class="col-sm-4">Time To:</dt>
            <dd class="col-sm-8">@ConvertIntTime(@Model.TimeTo)</dd>

            <dt class="col-sm-4">Price:</dt>
            <dd class="col-sm-8">@FormatPriceVND(@Model.Price)</dd>
        </div>
        <div class="col-md-6 row">
            <dt class="col-sm-4">Court Name:</dt>
            <dd class="col-sm-8">@Model.Court.Name</dd>

            <dt class="col-sm-4">Frame Created:</dt>
            <dd class="col-sm-8">@FormatDateTime(@Model.CreatedDate)</dd>

            <dt class="col-sm-4">Last Updated At:</dt>
            <dd class="col-sm-8">@FormatDateTime(@Model.UpdatedDate)</dd>
        </div>
    </dl>
</div>
