@model BadmintonReservationData.Booking

<div class="form-group row">
    <div class="col-md-6">
        <label for="1">Customer</label>
        @Html.EditorFor(model => model.BookingTypeId, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="col-md-6">
    </div>
</div>
<div class="form-group row">
    <div class="col-md-6">
        <label for="1">Name</label>
        @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="col-md-6">
        <label for="1">Name</label>
        @Html.EditorFor(model => model.PromotionAmount, new { htmlAttributes = new { @class = "form-control" } })
    </div
    <div class="col-md-6">
        <label for="1">Name</label>
        @Html.EditorFor(model => model.PaymentId, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    @Html.Hidden("CustomerId", 1)
    <div class="col-md-6">
    </div>
</div>